* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: #e1d4c3;
}
/* header */

header {
	padding: 20px;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	background-color: #0a1638;
	color: #ffffff;
	font-size: 20px;
	text-align: center;

}




/* side bar */
.layout {
	display: flex;
	flex-wrap: wrap;
	
}

.sidebar {
	flex: 15%;
  	padding: 50px;
	margin: 20px;	
} 

.display {
	padding: 5px;
	margin-bottom: 10px;
}

.search {
	display: block;
	padding: 5px;
	margin: 5px;
}

.content {
	flex:70%;
	padding: 10px;
} 

.about {
	margin: 25px;
	padding: 15px;
	border: 5px solid blue;
	width: 90%;
	height: 120%;
	font-size: larger;
	line-height: 50px;
}

/* .projects {
	margin: 15px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 20px;
	line-height: 30px;
	padding: 15px;
}

.box {
	position: relative;
	text-align: center;
	color:white;
}

.bottom {
	position: absolute;
	bottom: 25px;
	right: 60px;
	font-size: 25px;
	font-weight: bolder;
 }

.code img {
	height: 400px;
	width: 100%;
	padding: 15px;
	
 }

.place {
	content: "";
	clear: both;
	display: table;
}

.text {
	position: relative;
	text-align: center;
	color:white;
}

.first {
	position: absolute;
	top: 25px;
	left: 60px;
	font-size: 25px;
	font-weight: bolder;
}

.second {
	position: absolute;
	top: 25px;
	right: 60px;
	font-size: 25px;
	font-weight: bolder;
}

.third {
	position: absolute;
	top: 320px;
	left: 60px;
	font-size: 25px;
	font-weight: bolder;
}

.fourth {
	position: absolute;
	top: 315px;
	right: 60px;
	font-size: 25px;
	font-weight: bolder;
}

.holder {
	float: left;
	width: 50%;
	padding: 5px;
}
 
.place img {
	width: 100%;
	padding: 15px;
 }

 /* footer */
/* .footer {
	padding: 20px;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	background-color: #0a1638;
	color: #ffffff;
	
}

.footer h2 {
	display: inline-block;
	font-size: 48px;
	align-items: center;
	text-align: left;
	color:#ffffff;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
}


.footer p, footer a {
	display: inline-block;
	padding: 60px;
	margin-right: 20px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 40px;
	align-items: center;
	text-align: none;
	color: #ffffff;
	
}
/* responsive design */

/* @media screen and (max-width: 992px) {
	.layout, .navbar {   
	  flex-direction: column;
	}
	.holder {
		width:100%;
	}
 }

 @media screen and (max-width: 768px) {
	.layout, .navbar {   
		flex-direction: column;
	 }
	 .holder {
		width:100%;
	}
 }

 @media screen and (max-width: 576px) {
	.layout, .navbar {   
		flex-direction: column;
	 }
	 .holder {
		width:100%;
	}
	.text {
		width:100%;
	}
	.first {
		width:100%; */
